* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.static_Container {
    width: 395px;
    height: 262px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 16px 60px 0px rgba(0, 0, 0, 0.03);
}
.dark-mode .static_Container{
    background: #26273B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.coursedetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}

.course {
    color: #131116;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.dark-mode .course{
    color:#FFF;
}

.learnMore {
    color: #131116;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.dark-mode .learnMore{
    color:#FFF;

}

.static_Cycle_image {
    width: 140px;
    height: 140px;
    display: block;
}
.dark-mode .static_Cycle_image{
    display: none;
}
.dark-mode .static_Cycle_image_darkmode{
    width: 140px;
    height: 140px;
    display: block;
}
.static_Cycle_image_darkmode{
    display:none;
}

.staticGraph {
    display: flex;
    justify-content: space-evenly;
}

.static_Title {
    color: #131116;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:8px;
}
.dark-mode .static_Title{
    color:#FFF;
}

.static_color_coordination {
    width: 9px;
    height: 9px;
    background: #593EF8;
    border-radius: 50%;
    border:1px solid #593EF8;
}
.staticGraph_Info{
    display: flex;
    align-items: center;
    
}
.static_color_coordination_orange{
    width: 9px;
    height: 9px;
    background: #FF9F29;
    border-radius: 50%;
    border:1px solid #FF9F29;
}
.static_color_coordination_yellow{
    width: 9px;
    height: 9px;
    background: #FFCB8E;
    border-radius: 50%;
    border:1px solid #FFCB8E;
}
.static_color_coordination_blue{
    width: 9px;
    height: 9px;
    background: #52BEFE;
    border-radius: 50%;
    border:1px solid #52BEFE;
}