* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    margin: 24px 18px 0 24px;
}

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 16px 60px 0px rgba(0, 0, 0, 0.03);
}

.dark-mode .navbar {
    background: rgb(27, 25, 25);
}

.Light_Mode {
    width: 85px;
    height: 36px;
    border-radius: 24px;
    background: var(--white-white, #FFF);
    border: 1px solid #fff;
    box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #593EF8;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.Dark_Mode {
    width: 85px;
    height: 36px;
    border-radius: 24px;
    border: transparent;
    box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--gray-290, #9AA4B5);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.sunIcon {
    width: 20px;
    height: 20px;

}

.dark-mode .Dark_Mode {
    background: var(--white-white, #FFF);
    border: 1px solid #fff;
}

.dark-mode .Light_Mode {
    border: transparent;
    background: transparent;
}

.dashboardlogo {
    width: 48px;
    height: 48px;
    margin-left: 16px;



}

.searchMenu {
    display: flex;
    width: 544px;
    height: 48px;
    padding: 14px 454px 13px 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 32px;
    background: #F0F2F5;
}

.iconCategory {
    display: flex;
    justify-content: space-evenly;
}

.search {
    color: #727272;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: transparent;
    width: 490px;
    height: 38px;
    padding-left: 3px;
}

.searchMenu {
    margin-right: 24px;
}

.fa-magnifying-glass {
    color: #727272;
}

.modes {
    width: 183px;
    height: 48px;
    border-radius: 32px;
    background: var(--gray-40, #F0F2F5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificationIcon {
    width: 48px;
    height: 48px;

}

.notification {
    padding-left: 24px;
}

.avatarName {
    color: #262626;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.avater-version {
    color: #727272;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.avatar {
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-right: 16px;
}

.userInfo {
    display: flex;
}

.homeContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: start;
}