* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    margin: 24px 18px 0 24px;
}

.dark-mode {
    background: #1B1C30;
    margin-top: 0;
}


.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 16px 60px 0px rgba(0, 0, 0, 0.03);
}

.dark-mode .navbar {
    background: #252842;
    box-shadow: 0px 16px 60px 0px rgba(0, 0, 0, 0.03);
}


.Light_Mode {
    width: 85px;
    height: 36px;
    border-radius: 24px;
    background: var(--white-white, #FFF);
    border: 1px solid #fff;
    box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #593EF8;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.Dark_Mode {
    width: 85px;
    height: 36px;
    border-radius: 24px;
    border: transparent;
    box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--gray-290, #9AA4B5);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.sunIcon {
    width: 20px;
    height: 20px;

}
.dark-mode .sunIcon{
    display:none;
}
.sunsolidIcon{
    display: none;
}
.dark-mode .Light_Mode{
    color: #98A2B2;
}
.dark-mode .sunsolidIcon{
    width: 20px;
    height: 20px;
    display: block;
    background-color: none;
}

.dark-mode .Dark_Mode {
    background: #1B1C30;
    box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05);
    border: 1px solid #1B1C30;
    color:#FFF;
}

.dark-mode .Light_Mode {
    border: transparent;
    background: transparent;
}

.dashboardlogo {
    width: 48px;
    height: 48px;
    margin-left: 16px;



}

.searchMenu {
    display: flex;
    width: 544px;
    height: 48px;
    padding: 14px 454px 13px 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 32px;
    background: #F0F2F5;
}

.dark-mode .searchMenu {
    background: #484958;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.iconCategory {
    display: flex;
    justify-content: space-evenly;
}

.search {
    border: none;
    background: transparent;
    width: 490px;
    height: 38px;
    padding-left: 3px;
}
.search::placeholder{
    color: #727272;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.dark-mode .search::placeholder{
    color:#FFF;
}

.searchMenu {
    margin-right: 24px;
}

.fa-magnifying-glass {
    color: #727272;
}
.dark-mode .fa-magnifying-glass{
    color:#fff;
}

.modes {
    width: 183px;
    height: 48px;
    border-radius: 32px;
    background: var(--gray-40, #F0F2F5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-mode .modes{
    background: #484958;
}

.notificationIcon {
    width: 48px;
    height: 48px;

}
.dark-mode .notificationIcon{
    display: none;
}
.notificationIcondark{
    display: none;
}
.dark-mode .notificationIcondark{
    width: 50px;
    height: 50px;
    display: block;
}

.notification {
    padding-left: 24px;
}

.avatarName {
    color: #262626;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.dark-mode .avatarName{
    color:#FFF;
}
.avater-version {
    color: #727272;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.dark-mode .avater-version{
    color: #757684;
}

.avatar {
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-right: 16px;
}

.userInfo {
    display: flex;
}

.homeContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: start;
}